.slider {
  overflow: hidden;
  padding-bottom: 80px;
  @media (max-width: 600px) {
    padding-bottom: 40px;
  }
  @media (max-width: 480px) {
    padding-bottom: 20px;
  }
  .container {
    overflow: hidden;
    padding-bottom: 40px;
  }
}
.slider__title {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}
.swiper {
  overflow: visible;
}
.swiper-slide {
  width: 282px;
  display: inline-block;
  @media (max-width: 480px) {
    width: 100%;
  }
}
.card {
  min-height: 128px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 16px;
  @media (max-width: 480px) {
    padding: 16px 16px 20px 16px;
  }
}
.card__right {
  display: flex;
  align-items: center;
}
.card__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
}
.card__img {
  margin-right: -9px;
}
.card__text {
  font-size: 1.5rem;
  line-height: 140%;
  color: #949494;
}
.swiper-button-next,
.swiper-button-prev {
  width: 44px;
  height: 44px;
  transition: opacity 0.3s ease;
  @media (max-width: 480px) {
    top: 100%;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 7px 12px;
    background-position: center;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
  }
  &.swiper-button-disabled {
    opacity: 0;
  }
}
.swiper-button-next {
  right: 0;
  &::after {
    background-image: url("../../../img/main-page/slider/icon-arrow.svg");
  }
}
.swiper-button-prev {
  left: 0;
  &::after {
    transform: rotate(-180deg);
    background-image: url("../../../img/main-page/slider/icon-arrow.svg");
  }
}
